.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-offset-12 {
  margin-left: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

[class^="col-"] {
  float: left;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.row {
  overflow: auto;
}

.row::before, .row::after {
  clear: both;
  content: " ";
  display: table;
}

#menu-toggle input {
  display: none;
}

.nav-links {
  list-style-type: none;
  margin-right: 240px;
}

.nav-links a {
  color: #888;
  font-size: 13px;
  font-weight: bold;
  margin-left: 30px;
  text-decoration: none;
}

.nav-links a:hover, .nav-links a:active {
  color: #fff;
}

.nav-links li {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.page-header {
  -ms-flex-align: center;
      align-items: center;
  background-color: #000;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-header .company {
  margin-left: 360px;
}

.section-home {
  background: url("../images/section-home-background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  text-align: center;
}

.section-home h1 {
  background-color: #65c25d;
  border-radius: 5px;
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  height: 75px;
  margin-bottom: 20px;
  margin-left: 210px;
  margin-top: 180px;
  padding-top: 1%;
  width: 345px;
}

.section-home h3 {
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 40px;
  margin-left: 210px;
  padding: .7% .3%;
  width: 450px;
}

.section-home #hand-phone {
  top: -137px;
  position: absolute;
  right: 80px;
}

.section-home .container {
  position: relative;
}

.section-features {
  background-color: #fff;
  color: #202226;
  height: 500px;
}

.section-features .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

.section-features div {
  height: 315px;
  margin-top: 90px;
  text-align: center;
  width: 310px;
}

.section-features h1 {
  font-size: 38px;
  font-weight: bold;
}

.section-features p {
  font-size: 16px;
}

.section-portfolio {
  background: url("../images/section-portfolio-background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
  padding-top: 75px;
}

.section-portfolio button, .section-portfolio h2 {
  display: inline;
}

.section-portfolio button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  height: 40px;
  float: right;
  margin-right: 210px;
  opacity: .5;
  transition: .3s;
  width: 110px;
}

.section-portfolio button:hover {
  opacity: 1;
}

.section-portfolio button:active {
  border-radius: 10px;
}

.section-portfolio h2 {
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  margin-left: 210px;
}

.section-portfolio .icon-gallery-file, .section-portfolio .icon-gallery-search {
  background-color: #88d082;
  border-radius: 3px;
  color: white;
  height: 27px;
  opacity: 0.4;
  padding-top: 2%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 27px;
}

.section-portfolio .icon-gallery-file {
  left: 20%;
}

.section-portfolio .icon-gallery-search {
  right: 20%;
}

.section-portfolio .icon-gallery-file:hover, .section-portfolio .icon-gallery-search:hover {
  opacity: 1;
}

.section-portfolio .icon-gallery-file:hover:active, .section-portfolio .icon-gallery-search:hover:active {
  color: #ff9f1a;
}

.section-portfolio .image {
  display: block;
  height: 200px;
  margin: 10px;
  width: 230px;
}

.section-portfolio .row {
  margin-left: 200px;
}

.section-portfolio .section-portfolio-layer {
  position: relative;
}

.section-portfolio .section-portfolio-layer-icons {
  background: rgba(0, 0, 0, 0.75);
  height: 200px;
  left: 10px;
  margin-top: 10px;
  opacity: 0;
  position: absolute;
  transition: .4s;
  width: 230px;
  z-index: -1;
}

.section-portfolio .section-portfolio-layer-icons h4 {
  color: #fff;
  margin-top: 60px;
  text-align: center;
}

.section-portfolio .section-portfolio-layer:hover .section-portfolio-layer-icons {
  cursor: pointer;
  opacity: 1;
  z-index: 0;
}

.section-content {
  background-color: #fff;
  height: 500px;
}

.section-content button {
  background-color: #89ca89;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  margin: 36px 0 130px 210px;
  padding: .5% 0;
  text-align: center;
  width: 150px;
}

.section-content button:hover {
  background-color: #000;
  transition: .3s;
}

.section-content button:active {
  border-radius: 10px;
  color: #18dcff;
}

.section-content .container {
  position: relative;
}

.section-content h1 {
  color: #202227;
  font-size: 40px;
  font-weight: bold;
  margin: 130px 0 40px 210px;
}

.section-content h2 {
  color: #767370;
  font-size: 24px;
  margin-left: 210px;
  max-width: 480px;
}

.section-content h2 span {
  font-weight: bold;
}

.section-content img {
  bottom: 160px;
  position: absolute;
  right: 210px;
}

.section-blog {
  background: url("../images/section-blog-background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 600px;
}

.section-blog div {
  display: inline-block;
}

.section-blog h2 {
  font-size: 30px;
  margin: 108px 0 0 32%;
}

.section-blog h4 {
  font-size: 14px;
  font-weight: bold;
  width: 284px;
}

.section-blog img {
  height: 160px;
  width: 90%;
}

.section-blog img:hover, .section-blog img:hover + h4 {
  cursor: pointer;
  opacity: .3;
}

.section-blog p {
  font-size: 14px;
  opacity: .75;
  width: 265px;
}

.section-blog .section-blog-flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 45px 0 107px 32%;
}

.section-blog .section-blog-line {
  border-bottom: 2px solid #f1f1f1;
  opacity: .5;
  width: 30px;
}

.section-testimonials {
  background-color: #f4f4f4;
  padding: 70px 0;
  text-align: center;
}

.section-testimonials h1 {
  color: #202226;
  font-size: 38px;
  font-weight: normal;
  line-height: 0.1em;
  margin: 0;
}

.section-testimonials h3 {
  background-color: #fff;
  color: #bbb;
  font-size: 24px;
  font-weight: normal;
  height: 155px;
  margin: 0 auto;
  width: 980px;
}

.section-testimonials h4 {
  background-color: #f26c4f;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  height: 35px;
  margin: 21px auto 30px;
  padding-top: .3%;
  width: 143px;
}

.section-testimonials h5 {
  color: #ababab;
  font-size: 18px;
  margin-bottom: 40px;
}

.section-testimonials-content {
  background-color: #fff;
  color: #bbb;
  font-size: 24px;
  height: 155px;
  left: 50px;
  margin-left: 400px;
  padding: 40px;
  position: relative;
  width: 980px;
}

.section-testimonials-arrow {
  position: absolute;
  left: 490px;
  bottom: -10px;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.section-testimonials-arrow-border {
  bottom: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.section-testimonials-photos {
  display: inline-block;
}

.section-testimonials-photos img {
  border-bottom: 5px solid transparent;
  opacity: .5;
}

.section-testimonials-photos img:hover {
  border-bottom: 5px solid #1fb4da;
  cursor: pointer;
  opacity: 1;
}

.section-clients {
  padding: 50px 0;
}

.section-clients .container {
  max-width: 1000px;
  width: 100%;
}

.section-clients-flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-clients-flex-container img {
  margin-top: 20px;
}

.section-clients-lines {
  font-size: 16px;
  font-weight: bold;
  position: relative;
}

.section-clients span::after {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  content: "";
  height: 5px;
  margin-left: 15px;
  position: absolute;
  top: 0;
  width: 88%;
}

.section-commerce {
  background-color: #f1f1f1;
  padding: 50px 0;
  text-align: center;
}

.section-commerce h2 {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  margin: 0 auto 30px;
  padding: 5px;
  width: 166px;
}

.section-commerce-card {
  background-color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin: 0 7px;
  padding: 15px;
}

.section-commerce-card:hover {
  box-shadow: 0 0 20px rgba(4, 5, 5, 0.2);
  cursor: pointer;
}

.section-commerce-card h5 {
  margin: 25px 0 20px;
}

.section-commerce-card p {
  color: #659f5c;
  font-weight: bold;
}

.section-callout {
  background-color: #79c277;
  color: #fff;
  font-size: 32px;
  height: 150px;
  padding-top: 1%;
  text-align: center;
}

.section-callout span {
  text-decoration: underline;
}

.section-footer {
  background-color: #000;
  height: 500px;
  padding: 80px 0 30px;
}

.section-footer .container {
  max-width: 1000px;
}

.section-footer .col-3 {
  padding: 10px;
}

.section-footer h3 {
  color: #fff;
  font-size: 14px;
}

.section-footer input {
  border-radius: 5px;
  height: 45px;
  max-width: 230px;
  width: 100%;
}

.section-footer p {
  color: #aaa;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
}

.section-footer p span {
  color: #787878;
}

.section-footer-copyright {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.section-footer-copyright span {
  color: #aaa;
}

.section-footer-line {
  background-color: #222;
  height: 5px;
  max-width: 980px;
  margin: 75px 0 40px;
}

.section-footer-tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-footer-tags p {
  background-color: #222;
  height: 30px;
  padding: 2% 3%;
}

.section-footer-socialmedia {
  color: #777;
  padding-right: 20px;
  text-align: right;
}

.section-footer-socialmedia i {
  margin-left: 5px;
}

.section-footer-socialmedia i:hover {
  color: #fff;
  cursor: pointer;
}

.section-footer-socialmedia i:active {
  box-shadow: 0 0 3px 3px #fff;
}

@media (max-width: 1200px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  #menu-toggle {
    display: block;
    left: 10px;
    position: fixed;
    top: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
  }
  #menu-toggle input {
    cursor: pointer;
    display: block;
    height: 32px;
    opacity: 0;
    position: absolute;
    width: 40px;
    z-index: 2;
  }
  #menu-toggle span {
    background: grey;
    border-radius: 3px;
    display: block;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 30px;
    z-index: 1;
  }
  #menu-toggle input:checked ~ ul {
    transform: none;
  }
  #menu {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2%;
    margin: -100px 0 0 -50px;
    font-size: 1em;
    line-height: 1.8em;
    padding: 50px;
    padding-top: 120px;
    position: absolute;
    text-align: left;
    transform: translate(-100%, 0);
    transition: transform 0.2s;
    width: 240px;
  }
  .company {
    margin: 0 auto;
  }
  .nav-links a {
    color: grey;
    font-size: 0.9em;
    line-height: 1em;
    margin: 5%;
  }
  .nav-links a:hover {
    color: #fff;
  }
  .nav-links li {
    display: block;
  }
  .page-header {
    margin-bottom: 100px;
    padding-top: 15px;
  }
  .section-projects-slider .nav-links li {
    border: 0;
  }
  .section-team h2 {
    font-size: 24px;
  }
  .section-team-card {
    border-radius: 5px;
    margin: 10px 0 10px 0;
    height: 100%;
    width: 100%;
  }
  .section-team-card i {
    margin: 10px 10px 20px 10px;
    padding: .5%;
  }
  .section-price-card:first-of-type {
    margin-left: 5%;
  }
  .section-price-card {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 5%;
  }
  .section-price-table {
    margin: 0;
  }
  .section-premium h2 {
    font-size: 26px;
  }
  .section-premium img {
    width: 100%;
  }
  #form-name, #form-email {
    margin: 30px 15px 30px 15px;
    width: 23%;
  }
  .section-contacts-map {
    font-size: 16px;
  }
  .section-contacts-map .fas:not(.fa-chevron-up), .section-contacts-map .far {
    padding-top: 12%;
  }
  .section-footer {
    height: 550px;
  }
  .section-footer i {
    padding: 1%;
  }
  .section-footer form {
    margin-left: 5%;
    width: 300px;
  }
}

@media (max-width: 600px) {
  .col-s-1 {
    width: 8.33333%;
  }
  .col-s-2 {
    width: 16.66667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333%;
  }
  .col-s-5 {
    width: 41.66667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333%;
  }
  .col-s-8 {
    width: 66.66667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333%;
  }
  .col-s-11 {
    width: 91.66667%;
  }
  .col-s-12 {
    width: 100%;
  }
  .company {
    position: relative;
  }
  .company img {
    position: absolute;
    right: 0;
    bottom: 10px;
    transform: scale(0.5);
  }
  #menu-toggle {
    display: block;
    left: 10px;
    position: fixed;
    top: 10px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 1;
  }
  #menu-toggle input {
    cursor: pointer;
    display: block;
    height: 32px;
    opacity: 0;
    position: absolute;
    width: 40px;
    z-index: 2;
  }
  #menu-toggle span {
    background: grey;
    border-radius: 3px;
    display: block;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 30px;
    z-index: 1;
  }
  #menu-toggle input:checked ~ ul {
    transform: none;
  }
  #menu {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2%;
    margin: -100px 0 0 -50px;
    font-size: 1em;
    line-height: 1.8em;
    padding: 120px 50px 50px;
    position: absolute;
    text-align: left;
    transform: translate(-100%, 0);
    transition: transform 0.2s;
    width: 150px;
  }
  .nav-links a {
    color: grey;
    font-size: 0.9em;
    line-height: 1em;
    margin: 5%;
  }
  .nav-links a:hover {
    color: #fff;
  }
  .nav-links li {
    display: block;
  }
  .page-header {
    margin-bottom: 100px;
    padding-top: 15px;
  }
  .section-home {
    position: relative;
    height: 500px;
    text-align: center;
  }
  .section-home #hand-phone {
    display: none;
  }
  .section-home h1, .section-home h3 {
    position: absolute;
    right: 0;
    width: 100%;
  }
  .section-home h3 {
    font-size: 14px;
    padding: .5%;
    top: 150px;
  }
  .section-home h1 {
    font-size: 22px;
    padding-top: 6%;
    top: -150px;
  }
  .section-features {
    height: 700px;
  }
  .section-features .container {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 200px;
    width: 100%;
  }
  .section-features div {
    margin-top: 40px;
    width: 100%;
  }
  .section-features h1 {
    font-size: 22px;
  }
  .section-features p {
    font-size: 14px;
  }
  .section-portfolio {
    height: 1600px;
    position: relative;
  }
  .section-portfolio button, .section-portfolio h2 {
    display: block;
  }
  .section-portfolio button {
    left: 33%;
    top: 20px;
    margin-bottom: 20px;
    position: absolute;
  }
  .section-portfolio h2 {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }
  .section-portfolio .icon-gallery-file, .section-portfolio .icon-gallery-search {
    top: 100px;
  }
  .section-portfolio .image {
    height: 150px;
    width: 180px;
  }
  .section-portfolio .row {
    margin-left: 19%;
    margin-top: 30px;
  }
  .section-portfolio .section-portfolio-layer-icons {
    height: 150px;
    width: 180px;
  }
  .section-content {
    height: 200px;
    text-align: center;
  }
  .section-content button {
    margin: 0;
  }
  .section-content h1 {
    font-size: 20px;
    margin: 40px 0 0;
  }
  .section-content h2 {
    font-size: 14px;
    margin: 0 0 20px;
  }
  .section-content img {
    display: none;
  }
  .section-blog {
    height: 1200px;
    padding-top: 1px;
  }
  .section-blog div {
    display: block;
  }
  .section-blog .section-blog-flex-container {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 10px 5px;
  }
  .section-testimonials {
    padding: 70px 0;
  }
  .section-testimonials h1 {
    font-size: 20px;
  }
  .section-testimonials h3 {
    font-size: 14px;
    height: 155px;
    width: 100%;
  }
  .section-testimonials h4 {
    padding-top: 1%;
  }
  .section-testimonials h5 {
    margin-bottom: 20px;
  }
  .section-testimonials-content {
    font-size: 14px;
    height: 120px;
    margin: 0;
    padding: 10px;
    width: 70%;
  }
  .section-testimonials-arrow {
    display: none;
  }
  .section-testimonials-arrow-border {
    display: none;
  }
  .section-testimonials-photos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-clients {
    padding: 30px 5px 10px;
  }
  .section-clients .container {
    max-width: 600px;
    width: 100%;
  }
  .section-clients span::after {
    width: 50%;
  }
  .section-callout {
    background-color: #79c277;
    color: #fff;
    font-size: 22px;
    height: 120px;
    padding-top: 3%;
  }
  .section-footer {
    height: 1600px;
    padding: 40px 0 20px;
  }
  .section-footer .container {
    max-width: 600px;
  }
  .section-footer-copyright {
    margin-bottom: 20px;
    text-align: center;
  }
  .section-footer-line {
    max-width: 600px;
  }
  .section-footer-socialmedia {
    text-align: center;
  }
  .section-footer-socialmedia i {
    margin-bottom: 5px;
    margin-left: 5px;
  }
}
/*# sourceMappingURL=style.css.map */