.section-features {
	background-color: #fff;
	color: #202226;
	padding: 90px 0 60px;

	.container {
		display: flex;
		justify-content: center;
		max-width: 1000px;
		width: 100%;
	}

	div {
		height: 315px;
		text-align: center;
		width: 310px;
	}

	h1 {
		font-size: 38px;
		font-weight: bold;
	}

	p {
		font-size: 16px;
		padding: 5px;
	}
}