.section-blog {
	background: url("../images/section-blog-background.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: center;

	div {
		display: inline-block;
		text-align: left;
	}

	h2 {
		font-size: 30px;
		margin-top: 108px;
		text-align: center;
	}

	h4 {
		font-size:14px;
		font-weight: bold;
		width: 284px;
	}

	img {
		margin: 0 5px 0;

		&:hover, &:hover + h4 {
			cursor: pointer;
			opacity: .3;
		}
	}

	p {
		font-size: 14px;
		opacity: .75;
		max-width: 265px;
		width: 100%;
	}

	.section-blog-flex-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 45px auto 30px;
		max-width: 1000px;
	}

	.section-blog-line {
		border-bottom: 2px solid #f1f1f1;
		opacity: .5;
		width: 30px;
	}
}