.section-content {

	background-color: #fff;
	height: 500px;

	button {
		background-color: #89ca89;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		height: 45px;
		margin: 36px 0 130px 210px;
		padding: .5% 0;
		text-align: center;
		width: 150px;

		&:hover {
			background-color: #000;
			transition: .3s;
		}

		&:active {
			border-radius: 10px;
			color: #18dcff;
		}
	}

	.container {
		position: relative;
	}

	h1 {
		color: #202227;
		font-size: 40px;
		font-weight: bold;
		margin: 130px 0 40px 210px;
	}

	h2 {
		color: #767370;
		font-size: 24px;
		margin-left: 210px;
		max-width: 480px;

		span {
			font-weight: bold;
		}
	}

	img {
		bottom: 160px;
		position: absolute;
		right: 210px;
	}
}