.section-commerce {
	background-color: #f1f1f1;
	padding: 50px 0;
	text-align: center;

	h2 {
		background-color: #000;
		color: #fff;
		font-size: 16px;
		margin: 0 auto 30px;
		padding: 5px;
		width: 166px;
	}
}

.section-commerce-card {
	background-color: #ffffff;
	display: inline-block;
	font-size: 16px;
	margin: 0 7px;
	padding: 15px;

	&:hover {
		box-shadow: 0 0 20px rgba(4, 5, 5, 0.2);
	}

	h5 {
		margin: 25px 0 20px;
	}

	p {
		color: #659f5c;
		font-weight: bold;
	}
}