$grid-columns: 12;

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: 100% / 12 * $i;
  }
}

@for $i from 1 through $grid-columns {
	.col-offset-#{$i} {
		margin-left: 100% / 12 * $i;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

[class^="col-"] {
		float: left;
	}

.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}

.row {
	overflow: auto;
	
	&::before, &::after {
		clear: both;
    	content: " ";
    	display: table;
	}
}