// for width less than 1200px:

@media (max-width: 1200px) {

	@for $i from 1 through $grid-columns {
  .col-md-#{$i} {
    width: 100% / 12 * $i;
  }
}

//styles for header:

#menu-toggle {
  display: block;
  left: 10px;
  position: fixed;
  top: 10px;
  user-select: none;
  z-index: 1;
}

#menu-toggle input {
	cursor: pointer;
  	display: block;
  	height: 32px;
  	opacity: 0;
  	position: absolute;
  	width: 40px;
  	z-index: 2;
}

#menu-toggle span {
	background: grey;
  	border-radius: 3px;
  	display: block;
  	height: 5px;
  	margin-bottom: 5px;
  	position: relative;
  	width: 30px;
  	z-index: 1;
}

#menu-toggle input:checked ~ ul {
  transform: none;
}

#menu {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 2%;
	margin: -100px 0 0 -50px;
	font-size: 1em;
	line-height: 1.8em;
	padding: 50px;
	padding-top: 120px;
	position: absolute;
	text-align: left;
	transform: translate(-100%, 0);
	transition: transform 0.2s;
	width: 240px;
}

.company {
	margin: 0 auto;
}

.nav-links {

	a {
		color: grey;
		font-size: 0.9em;
		line-height: 1em;
		margin: 5%;

		&:hover {
			color: #fff;
		}
	}

	li {
		display: block;
	}
}

.page-header {
	margin-bottom: 100px;
	padding-top: 15px;
}

//styles for section home:

.section-home {
	h1, h3 {
		position: relative;
		z-index: 10;
	}
}

//styles for section features:

.section-features {
	h1 {
		font-size: 22px;
	}

	p {
		font-size: 14px;
	}
}

//styles for section content:

.section-content h1, h2, button {
	position: relative;
	z-index: 1;
}

.section-content h2 {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
}

//styles for section testimonials:

.section-testimonials-content {
	font-size: 20px;
	height: 130px;
	padding: 30px;
	width: 70%;
}

.section-testimonials-arrow {
	display: none;
}

.section-testimonials-arrow-border {
	display: none;
}

}