.section-features {
	background-color: #fff;
	color: #202226;
	height: 500px;

	.container {
		display: flex;
		justify-content: space-around;
		width: 60%;
	}

	div {
		height: 315px;
		margin-top: 90px;
		text-align: center;
		width: 310px;
	}

	h1 {
		font-size: 38px;
		font-weight: bold;
	}

	p {
		font-size: 16px;
	}
}